body {
  margin: 0;
  padding: 0;
}
header {
  background-image: url(http://i.imgur.com/pWNgnmO.jpg);
  height: 100vh;
  background-size: cover;
  color: #F8EBEE;
  font-family: helvetica;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
p {
 font-size: 22x;
}
.img-circle {
  max-width:20%;
  max-height:20%;
  border-radius: 50%;
  position: absolute;
  margin-top: -64px;
  left: 1.5rem;
  top: 50%;
  //border: white;

}
input{
  border: 0;
  padding: 10px;
font-size: 18px;
}
input[type="submit"] {
  background: white;
  color: grey;
  margin: 5px;
}
